workflows/youtube_shorts_generador.json
{
  "name": "Generador de Videos",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "54d271b3-4740-4f84-a680-0280dbebfa87",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Crea un guion de 30–45 segundos para TikTok sobre un dato curioso impactante. Debe tener hook fuerte, desarrollo corto y cierre. Máximo 120 palabras.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [0, 192],
      "id": "de0180ae-d508-45ae-becf-e292cf5f55c1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d016d65f-b7d3-4103-a9e7-dc58f61f561e",
              "name": "script",
              "value": "¿Sabías que hay un lugar en la Tierra donde nunca ha llovido? En el desierto de Atacama hay zonas que no han recibido lluvia en más de 400 años. A pesar de eso, existen microorganismos que sobreviven en condiciones extremas. Es considerado el lugar más seco del planeta. Increíble, ¿no?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [208, 0],
      "id": "7c1649f8-2960-4084-9a47-69d805ff56ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.script.toLowerCase();\n\nconst keywords = [\n  \"desert landscape\",\n  \"dry land\",\n  \"extreme heat\",\n  \"barren earth\",\n  \"microscopic life\",\n  \"harsh environment\"\n];\n\nreturn keywords.map(k => {\n  return {\n    keyword: k\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "b712d59a-34d8-4fbf-af21-65ea87d2a736",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/videos/search?query={{$json.keyword}}&per_page=2&orientation=portrait",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "{{$env.PEXELS_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [624, 0],
      "id": "f7513f1f-3ebd-4350-8f76-aea36fcd1197",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      url: item.json.videos[0].video_files[0].link\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [832, 0],
      "id": "b9d35576-dbab-4c9c-82ee-de935648ad5a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1040, 0],
      "id": "7e393912-19a6-423c-8d1c-88be4cf8e839",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:\\Users\\valer\\videos\\video_{{$itemIndex}}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [1216, 0],
      "id": "b5126d75-d2ba-4321-93b7-4082ac3cdab0",
      "name": "Read/Write Files from Disk"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "HTTP Request1", "type": "main", "index": 0 }]]
    },
    "HTTP Request1": {
      "main": [[{ "node": "Code in JavaScript1", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript1": {
      "main": [[{ "node": "HTTP Request2", "type": "main", "index": 0 }]]
    },
    "HTTP Request2": {
      "main": [[{ "node": "Read/Write Files from Disk", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
